# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools used for Data Science
- Demonstrate arithmetic functions in jupyter notebook

Some of the popular languages in Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scipy
6. sklearn

|Data Science Tools|
|------------------|
|Jupyter Lab|
|R Studio|
|VS Code|
|Apache Spark|
|POSTGRESQL|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Milkias Zerai Semereab